:host {
    display: block;
    margin: 0 auto;
    width: 418px;
    min-height: 100px;
    background-color: var(--1inch-bg-02);
    box-shadow: var(--1inch-shadow-04);
    border-radius: 24px;
    padding: 16px;
    max-width: 100%;
}
