:host {
    display: flex;
    flex-direction: column;
}

.element-container {
    border-radius: 12px;
    padding: 12px 16px;
    align-items: center;
    border: 1px solid var(--1inch-border-02);
    margin-bottom: 8px;
    color: var(--text-white);
}

.element-type {
    display: block;
    color: var(--1inch-common-text-04);
    margin-bottom: 5px;
}
