:host {
    display: flex;
    flex-direction: column;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.title {
    font-size: 13px;
    color: var(--1inch-common-text-02)
}
