<div class="field-list" [formGroup]="form">
    <div class="input-container">

        <div class="hint">From <tui-tooltip content="From" direction="top-left"></tui-tooltip></div>
        <tui-input
                class="input-control"
                formControlName="from"
        >
            0x...
        </tui-input>

        <tui-field-error class="text-red" formControlName="from"></tui-field-error>
    </div>

    <div class="input-container">

        <div class="hint">To <tui-tooltip content="To" direction="top-left"></tui-tooltip></div>
        <tui-input
                class="input-control"
                formControlName="to"
        >
            0x...
        </tui-input>

        <tui-field-error class="text-red" formControlName="to"></tui-field-error>
    </div>

    <div class="input-container">

        <div class="hint">Value <tui-tooltip content="Value" direction="top-left"></tui-tooltip></div>
        <tui-input
                class="input-control"
                formControlName="value"
        >
            0x...
        </tui-input>

        <tui-field-error class="text-red" formControlName="value"></tui-field-error>
    </div>

    <div class="input-container">

        <div class="hint">Data <tui-tooltip content="Data" direction="top-left"></tui-tooltip></div>
        <tui-input
                class="input-control"
                formControlName="data"
        >
            0x...
        </tui-input>

        <tui-field-error class="text-red" formControlName="data"></tui-field-error>
    </div>

</div>
