.text {
    &-white {
        color: var(--text-white);
    }
    &-gray {
        color: var(--text-gray);
    }
    &-red {
        color: var(--text-red);
    }
    &-yellow {
        color: var(--1inch-warning-text-02);
    }
    &-green {
        color: var(--1inch-warning-text-03);
    }
    &-blue {
        color: var(--text-blue);
    }
    &-current {
        color: var(--text-white);
    }
}


